<?xml version="1.0"?>
<!--
Copyright (C) 2017, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <!-- Define type of localization, if true 2D localization -->
    <arg name="two_d_mode"         default="false"/>
    <!-- Enable/Disable filter -->
    <arg name="filter"             default="false"/>
    <!-- Enable/Disable TF odometry motor -->
    <arg name="enable_odom_tf"     default="false"/>

    <!-- Differential controller parameters -->
    <rosparam command="load" file="$(find panther_control)/config/control.yaml" />
    <!-- Enable/Disable TF odometry -->
    <!-- Works only if filter is disabled -->
    <group if="$(arg filter)">
        <param name="enable_odom_tf" type="bool" value="false" />
    </group>
    <group unless="$(arg filter)">
        <param name="enable_odom_tf" type="bool" value="$(arg enable_odom_tf)" />
    </group>

    <!-- Launch and running al controller -->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
            args="panther_joint_publisher panther_velocity_controller --shutdown-timeout 3"/>

    <!-- Launch EKF localization -->
    <group if="$(arg filter)">
        <include file="$(find panther_control)/launch/localization.launch">
            <arg name="two_d_mode" value="$(arg two_d_mode)" />
        </include>
    </group>

    <!-- Mux to control via joy, keyboard, high level control the robot -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
      <rosparam command="load" file="$(find panther_control)/config/twist_mux.yaml" />
      <remap from="cmd_vel_out" to="panther_velocity_controller/cmd_vel"/>
    </node>

</launch>
