<?xml version="1.0"?>
<!--
Copyright (C) 2017, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="folder" default="/home/nvidia" doc="Folder where you save the rosbag"/>
  <arg name="record_cameras" default="true" />  
  <arg name="camera" default="zed" />
  
  <!-- Reference http://official-rtab-map-forum.67519.x6.nabble.com/RTAB-setup-with-a-3D-LiDAR-td1080.html -->
  <arg name="rate"  default="10"/>
  <!-- Reduce the image size, e.g., 2 means "width/2 x height/2". -->
  <arg name="decimation"  default="2"/>
  <arg name="approx_sync" default="true" />
  
  <!-- Throttling messages -->
  <group ns="$(arg camera)">
     <node pkg="nodelet" type="nodelet" name="data_throttle" args="standalone rtabmap_ros/data_throttle" output="screen">
      <param name="rate" type="double" value="$(arg rate)"/>
      <param name="decimation" type="int" value="$(arg decimation)"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>
         
      <remap from="rgb/image_in"       to="rgb/image_rect_color_raw"/>
      <remap from="depth/image_in"     to="depth/depth_registered_raw"/>
      <remap from="rgb/camera_info_in" to="rgb/camera_info"/>
    
      <remap from="rgb/image_out"       to="data_throttled_image"/>
      <remap from="depth/image_out"     to="data_throttled_image_depth"/>
      <remap from="rgb/camera_info_out" to="data_throttled_camera_info"/>
    </node>
  </group>

  <node pkg="rosbag" type="record" name="rosbag_record" output="screen" 
        args="-b 1024 -o $(arg folder)/panther /$(arg camera)/data_throttled_camera_info /$(arg camera)/data_throttled_image /$(arg camera)/data_throttled_image_depth /panther_velocity_controller/odom /zed/odom /imu/data /odometry/filtered /scan /tf" 
        if="$(arg record_cameras)" />

</launch>
