<?xml version="1.0"?>
<!--
Copyright (C) 2017, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="panther_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find panther_description)/urdf/materials.urdf" />
  <xacro:include filename="$(find panther_description)/urdf/track.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/chassis.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/sprocket.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/gear.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/zedcamera.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/imu.urdf.xacro" />
  <!-- Included URDF/XACRO Files -->

  <!-- Global properties -->
  <xacro:property name="path_meshes" value="package://panther_description/meshes"/>
  <xacro:property name="M_PI" value="3.14159"/>
  <!-- Global properties -->

  <!-- Sprocket and gear properties -->
  <xacro:property name="sprocket_radius" value="0.0325"/>
  <xacro:property name="sprocket_leght" value="0.05"/>
  <xacro:property name="sprocket_teeth" value="24"/>
  <xacro:property name="gear_teeth" value="16"/>

  <xacro:property name="wheel_offset_x" value="-0.00"/>
  <xacro:property name="wheel_offset_y" value="0.08"/>
  <xacro:property name="wheel_offset_z" value="${wheel_radius}"/>
  <!-- Sprocket and gear properties -->

  <xacro:macro name="panther_robot">

  <!-- base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="11.0" />
      <inertia ixx="1" ixy="0" ixz="0"
                       iyy="1" iyz="0"
                               izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.001" radius="0.05"/>
      </geometry>
      <material name="Green" />
    </visual>
  </link>

  <!-- Chassis -->
  <xacro:chassis parent="base_link">
    <origin xyz="0 0 0.08" rpy="0 0 3.14159" />
  </xacro:chassis>
  <!-- Chassis - END -->

  <!-- ZED -->
  <!--<xacro:zedcamera parent="frame_link">
    <origin xyz="0.03600 0 0.1900" rpy="0 0 -1.5707963267949" />
  </xacro:zedcamera>-->
  <!-- ZED - END -->

  <!-- IMU -->
  <!--<xacro:imu name="base_imu" parent="frame_link">
    <origin xyz="0.0420817256507905 0 0.091441320597534" rpy="${M_PI} ${M_PI/2} 0" />
  </xacro:imu>-->
  <!-- IMU -->

  <!-- Track -->
  <!-- passive_wheel_type type: (1) continuous or (2) fixed -->
  <xacro:track position="left" parent="frame_link" passive_wheel_type="continuous">
    <origin 
      xyz="0 -0.161 -0.014" 
      rpy="0 0 0" />
    <origin
      xyz="0.15476 -0.161 ${-0.014 - 0.0267}"
      rpy="-${M_PI/2} 0 0" />
    <origin
      xyz="0.054 -0.010 0.019"
      rpy="-${M_PI/2} 0 0" />
  </xacro:track>
  <xacro:track position="right" parent="frame_link" passive_wheel_type="continuous">
    <origin 
      xyz="0 0.161 -0.014"
      rpy="0 0 0" />
    <origin
      xyz="0.155 0.161 ${-0.014 - 0.0267}"
      rpy="-${M_PI/2} 0 0" />
    <origin
      xyz="0.054 0.010 0.019"
      rpy="${M_PI/2} 0 0" />
  </xacro:track>
  <!-- Track - END -->

  </xacro:macro>

</robot>
