<?xml version="1.0"?>
<robot name="panther_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find panther_description)/urdf/materials.urdf" />
  <xacro:include filename="$(find panther_description)/urdf/track.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/chassis.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/sprocket.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/gear.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/zedcamera.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/imu.urdf.xacro" />
  <!-- Included URDF/XACRO Files -->

  <!-- Global properties -->
  <xacro:property name="path_meshes" value="package://panther_description/meshes"/>
  <xacro:property name="M_PI" value="3.14159"/>
  <!-- Global properties -->

  <!-- Sprocket and gear properties -->
  <xacro:property name="sprocket_radius" value="0.0325"/>
  <xacro:property name="sprocket_leght" value="0.05"/>
  <xacro:property name="sprocket_teeth" value="24"/>
  <xacro:property name="gear_teeth" value="16"/>

  <xacro:property name="wheel_offset_x" value="-0.00"/>
  <xacro:property name="wheel_offset_y" value="0.08"/>
  <xacro:property name="wheel_offset_z" value="${wheel_radius}"/>
  <!-- Sprocket and gear properties -->

  <xacro:macro name="panther_robot">

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.001" radius="0.05"/>
      </geometry>
      <material name="Green" />
    </visual>
  </link>

  <!-- Chassis -->
  <xacro:chassis parent="base_link">
    <origin xyz="0 0 0.08" rpy="0 0 3.14159" />
  </xacro:chassis>
  <!-- Chassis - END -->

  <!-- ZED -->
  <xacro:zedcamera parent="frame_link">
    <origin xyz="0.03600 0 0.1900" rpy="0 0 -1.5707963267949" />
  </xacro:zedcamera>
  <!-- ZED - END -->

  <!-- IMU -->
  <xacro:imu name="base_imu" parent="frame_link">
    <origin xyz="0.0420817256507905 0 0.091441320597534" rpy="${M_PI} ${M_PI/2} 0" />
    <!--<origin xyz="0.0420817256507905 0 0.091441320597534" rpy="${-M_PI/2} 0 ${M_PI/2}" />-->
  </xacro:imu>
  <!-- IMU -->

  <!-- Track -->
  <!-- passive_wheel_type type: (1) continuous or (2) fixed -->
  <xacro:track name="Left" position="left" parent="frame_link" passive_wheel_type="fixed">
    <origin 
      xyz="0 -0.161 -0.014" 
      rpy="0 0 0" />
    <origin
      xyz="0.15476 -${0.020382 + 0.161} -${0.026643 + 0.014}"
      rpy="${M_PI/2} -${M_PI/2} 0" />
    <origin
      xyz="0.0536535102814494 -0.00979339452125411 0.0186240655062149"
      rpy="-${M_PI/2} -${M_PI/2} ${M_PI}" />
  </xacro:track>
  <xacro:track name="Right" position="right" parent="frame_link" passive_wheel_type="fixed">
    <origin 
      xyz="0 0.161 -0.014"
      rpy="0 0 0" />
    <origin
      xyz="0.15476 ${0.020382 + 0.161} -${0.026643 + 0.014}"
      rpy="-${M_PI/2} -${M_PI/2} 0" />
    <origin
      xyz="0.0536535102814494 0.00979339452125411 0.0186240655062149"
      rpy="${M_PI/2} -${M_PI/2} ${M_PI}" />
  </xacro:track>
  <!-- Track - END -->

  </xacro:macro>

</robot>
