<?xml version="1.0"?>
<!--
Copyright (C) 2017, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <!-- ZED wrapper -->
    <arg name="publish_tf"       default="true"/>
    <arg name="camera"           default="zed"/>
    <!-- Laserscan topic -->
    <arg name="scan_topic"       default="scan"/>
    <arg name="scan_processing"  default="false"/>
    <arg name="cloud_frame_id"   default="zed_initial_frame"/>
    <!-- Republish RGB and depth -->
    <arg name="republish_topic"  default="true"/>
  
    <!-- Launch ZED camera node -->
    <group ns="$(arg camera)">
  
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <!-- Definition coordinate frames -->
            <arg name="publish_tf"            default="$(arg publish_tf)" />
            <arg name="odometry_frame"        default="odom" />
            <arg name="base_frame"            default="base_link" />
            <arg name="camera_frame"          default="zed_left_camera" />
            <arg name="depth_frame"           default="zed_depth_camera" />
            <!-- Publish urdf zed -->
            <arg name="publish_urdf"          default="false" />
        </include>
    
        <!-- TEMP Will be remove after fix from zed error -->
        <group if="$(arg republish_topic)">        
            <node name="republish_rgb"   type="republish" pkg="image_transport" args="raw in:=rgb/image_rect_color_raw out:=rgb/image_rect_color" />
            <node name="republish_depth" type="republish" pkg="image_transport" args="raw in:=depth/depth_registered_raw out:=depth/depth_registered" />
        </group> 
        <!--                        Laserscan 
            This uses lazy subscribing, so will not activate until scan is requested.
          -->
        <group if="$(arg scan_processing)">
            <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
                <param name="scan_height" value="7"/>
                <param name="output_frame_id" value="$(arg cloud_frame_id)"/>
                <param name="range_min" value="0.1"/>
                <remap from="image" to="depth/depth_registered"/>
                <remap from="camera_info" to="depth/camera_info"/>
                <remap from="scan" to="$(arg scan_topic)"/>
            </node>
        </group>
    
    </group>

</launch>
