<?xml version="1.0"?>
<!--
Copyright (C) 2020, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

  <arg name="camera"       default="zed" /> <!-- rtabmap -->
  <arg name="frame_id"     default="base_link" />
  <!-- Define type of localization -->
  <arg name="two_d_mode"   default="false"/>
  <arg name="odom"         default="odom" />
  <arg name="left_camera"  default="left" />
  <arg name="right_camera" default="right" />
  <!-- Output: {screen, log} -->
  <arg name="output"          default="screen" />
    
   <!-- Run the ROS package stereo_image_proc for image rectification -->
<!--   <group ns="/stereo_camera" >
      <node pkg="nodelet" type="nodelet" name="stereo_nodelet"  args="manager"/>
   
      <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
         <remap from="left/image_raw"    to="$(arg left_camera)/image_rect_color"/>
         <remap from="left/camera_info"  to="$(arg left_camera)/camera_info"/>
         <remap from="right/image_raw"   to="$(arg right_camera)/image_rect_color"/>
         <remap from="right/camera_info" to="$(arg right_camera)/camera_info"/>
         <param name="disparity_range" value="128"/>
      </node>
   </group>-->
    
    <group ns="$(arg rtabmap)">
        <!-- Odometry -->
        <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="$(arg output)">

            <remap from="left/image_rect"           to="$(arg left_camera)/image_rect_color"/>
            <remap from="left/camera_info"          to="$(arg left_camera)/camera_info"/>
            <remap from="right/image_rect"          to="$(arg right_camera)/image_rect_color"/>
            <remap from="right/camera_info"         to="$(arg right_camera)/camera_info"/>
            <remap from="odom"                      to="$(arg odom)"/>

<!--      <remap from="left/image_rect"       to="/stereo_camera/left/image_rect"/>
      <remap from="right/image_rect"      to="/stereo_camera/right/image_rect"/>
      <remap from="left/camera_info"      to="/stereo_camera/left/camera_info"/>
      <remap from="right/camera_info"     to="/stereo_camera/right/camera_info"/>
      <remap from="odom"                  to="/zed/odom"/>-->

            <param name="frame_id"       type="string" value="$(arg frame_id)"/>
            <param name="odom_frame_id" type="string" value="odom"/>

          <param name="Odom/Strategy" type="string" value="0"/> <!-- 0=BOW, 1=OpticalFlow -->
          <param name="Odom/EstimationType" type="string" value="1"/> <!-- 3D->2D (PnP) -->
          <param name="Odom/MinInliers" type="string" value="10"/>
          <param name="Odom/RoiRatios" type="string" value="0.03 0.03 0.04 0.04"/>
          <param name="Odom/MaxDepth" type="string" value="10"/>
          <param name="OdomBow/NNDR" type="string" value="0.8"/>
          <param name="Odom/MaxFeatures" type="string" value="1000"/>
          <param name="Odom/FillInfoData" type="string" value="false"/>
          <param name="GFTT/MinDistance" type="string" value="10"/>
          <param name="GFTT/QualityLevel" type="string" value="0.00001"/> 

            <param name="publish_tf"             type="bool"   value="false"/>
            <param name="publish_null_when_lost" type="bool"   value="false"/>
            
            <param name="approx_sync" type="bool"   value="true"/>

            <param name="Reg/Force3DoF"          type="bool"   value="$(arg two_d_mode)" />
        </node>
    </group>
    
</launch>
